[SddmGreeterTheme]
Name=SDDM Authelia Passkey Native
Description=Original Qt6 SDDM theme with broker-backed Smartphone Login
Author=BenJule
Copyright=(c) 2026, Benjamin Lütker
License=GPL-3
Type=sddm-theme
Version=1.10.0
Website=https://github.com/BenJule/sddm-authelia-passkey
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=sddm-authelia-passkey-native
QtVersion=6
